<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1 class="countdown-title">Ne znayu</h1>
    <div id="countdown" class="countdown">
      <div class="countdown-number">
        <span class="days countdown-time"></span>
        <span class="countdown-text">Days</span>
      </div>
      <div class="countdown-number">
        <span class="hours countdown-time"></span>
        <span class="countdown-text">Hours</span>
      </div>
      <div class="countdown-number">
        <span class="minutes countdown-time"></span>
        <span class="countdown-text">Minutes</span>
      </div>
      <div class="countdown-number">
        <span class="seconds countdown-time"></span>
        <span class="countdown-text">Seconds</span>
      </div>
    </div>
    <div class="con">
      <img src="https://www.voicesofyouth.org/sites/voy/files/images/2020-07/love.jpg" class="responsive">
    </div>
    
    <script src="js/index.js"></script>
</body>
</html>