body {
  text-align: center;
  /* background: #F69797; */
  font-family: sans-serif;
  font-weight: 100;
}

.countdown-title {
  color: #010101;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.countdown {
  font-family: sans-serif;
  color: #010101;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

.countdown-number {
  padding: 10px;
  border-radius: 3px;
  /* background: #00bf96; */
  display: inline-block;
}

.countdown-time {
  padding: 15px;
  border-radius: 3px;
  /* background: #00816a; */
  display: inline-block;
}
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}
.con{
  margin: 40px 0px 20px;
}

.responsive {
  width: 100%;
  height: auto;
}